@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #ececee;
  background-color: #1f2029;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100vh;
  width: 100%;
}

#time-counter {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  border-top-left-radius: 10px;
  padding: 5px 10px;
  opacity: 0.8;
  font-size: 14px;
}

#time {
  font-weight: bold;
}

ul {
  position: absolute;
  top: 20%;
  left: 1%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;

}

ul.slide-to-right {
  overflow: hidden;
}

ul.slide-to-right li {
  transition: transform 0.3s ease-in-out;
}

ul.slide-to-right:hover {
  transform: translateX(10%);
}


li:last-child {
  border-bottom: none;
}

.section-center {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.logo {
  position: absolute;
  top: 60px;
  left: 50px;
  display: block;
  z-index: 11;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}



@media screen and (max-width: 991px) {

  .menu-icon:checked+label,
  .menu-icon:not(:checked)+label {
    right: 55px;
  }

  .logo {
    left: 30px;
  }

  .nav {
    right: 30px;
  }

  .nav ul li a {
    font-size: 8vh;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');

.h1c {
  animation: jackInTheBox;
  animation-duration: 2s;
  color: coral;
  text-align: center;
  font-family: 'Macondo', cursive;
  margin-top: 30px;
}

canvas {
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(to right, #FF6347, #FF8C00,#47fff9,#6c47ff,#ff47ff);
  animation: border 2s ease-in-out infinite;
  width: 200px;
  height: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  transition: transform 0.5s;
  animation: backInDown;
  animation-duration: 1s;
}
@keyframes border {
  0% {
    border-image-slice: 0;
  }
  50% {
    border-image-slice: 20;
  }
  100% {
    border-image-slice: 0;
  }
}
canvas:hover {
  transform: scale(1.03);
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.btn-group {
  display: inline-flex;
  position: absolute;
  top: 2%;
  z-index: 9999;
  transition: transform 0.5s;
  animation: backInDown;
  animation-duration: 1s;

}
.btn-group #newGrass {
  background-image: linear-gradient(45deg, #0f900f, #00cc00, #009900, #006600);
}
.btn-group #newEater {
  background-image: linear-gradient(45deg, #f5c100, #af941c, #ddc01b, #7a6e21);
}
.btn-group #newPredator {
  background-image: linear-gradient(45deg, #ff8080, #ff3333, #cc0000, #990000);
}
.btn-group #newBoss {
  background-image: linear-gradient(45deg, #333333, #666666, #232323, #000000);
}
.btn-group #newWater {
  background-image: linear-gradient(45deg, #0b3d91, #0b5394, #0b6f99, #0b8c9d, #0ba9a2);
}
.btn-group #newQueen{
  background-image: linear-gradient(45deg, #8B008B, #9400D3, #4B0082);
}
.btn-group #cleanAll{
  background-image: linear-gradient(45deg, #f1f1f1, #d3d3d3, #f1f1f1);
  color: black;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.btn-group:before {
  display: block;
  content: '';
  position: absolute;
  top: 12px;
  right: 0;
  bottom: -12px;
  left: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
}

.btn-group button {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
  position: relative;
  top: 0;
  padding: 12px 16px;
  margin: 0 -1px 0 -1px;
  z-index: 10;
  transition: top 140ms linear;
  cursor: pointer;
}

.btn-group button:first-child {
  border-radius: 8px 0 0 8px;
  margin: 0;
}

.btn-group button:last-child {
  border-radius: 0 8px 8px 0;
  margin: 0;
}

.btn-group button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: -12px;
  z-index: 5;
  pointer-events: none;
  cursor: pointer;
  box-shadow: 0 0 0 1px #000;
  transition: bottom 140ms linear;
}

.btn-group button:first-child:before {
  border-radius: 8px 0 0 8px;
}

.btn-group button:last-child:before {
  border-radius: 0 8px 8px 0;
}

.btn-group button:hover {
  top: 4px;
}

.btn-group button:hover:before {
  bottom: -8px;
}

.btn-group button:active {
  top: 12px;
}

.btn-group button:active:before {
  bottom: 0px;
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  border-radius: 10px;
  position: fixed;
  top: 6%;
  left: 84%;
  transform: translate(-50%, -50%);
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-bottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.overlay.visible {
  display: flex;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.close-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.weather {
  position: absolute;
  top: 30%;
 left: 85%;
  z-index: 9999;
  transition: transform 0.5s;
  animation: backInDown;
  animation-duration: 1s;

}
.weather button{
  display: block;
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.volume{
  font-family: 'Sen', sans-serif;
}
.weather button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.weather button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.weather button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.weather button span {
  position: relative;
  z-index: 1;
}
.weather button i {
  position: absolute;
  inset: 0;
  display: block;
}

.weather button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.weather button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.weather button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.weather button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
